{% extends 'base.html.twig' %}

{% block title %}{{ 'editDeposit'|trans }}{% endblock %}
{% block body %}
    {% include './navbar/navbar.html.twig' %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ 'deleteResource'|trans }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ 'warningConfirm'|trans }} {{ 'deleteResource'|trans }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Close'|trans }}</button>
                        <button type="button" id="valid-modal" class="btn btn-danger">{{ 'Delete'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>

        <h1>{{ 'Edit'|trans }} {{ 'Deposit'|trans }}</h1>

        {% if filesInfo is not empty %}
            <p>{{ 'Files in the Deposit'|trans }}</p>
            <div>
                {% for key,file in filesInfo %}
                    <div class="row mb-2">
                        <p class="col-6">
                            <a href="{{ file.download }}?download=1">{{ file.filename }}</a>
                        </p>
                        {% if DepositPublished is same as(false) %}
                            <div id="info_file_{{ key }}" data-link="{{ file.link }}" data-filename="{{ file.filename }}" data-checksum="{{ file.checksum }}" data-id="{{ file.id }}" hidden></div>
                            <button id="info_file_{{ key }}" type="button" class="btn btn-outline-danger col-6" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                {{ 'Delete'|trans }}</button>
                        {% endif %}
                        </div>
                {% endfor %}
            </div>
        {% endif %}

        {{ form_start(form) }}
        {# because from label unwanted from collection#}
        {{ form_row(form._token) }}
        {% if DepositPublished is same as(false) %}
            {{ form_row(form.depositFile) }}
            <button type="button" id="clear-upload" class="btn btn-outline-warning w-100 mb-3">{{ 'Clear'|trans }} {{ 'Upload files'|trans }}</button>
            {% else %}
                <div class="card border-info mb-3">
                    <div class="card-header text-center">{{ 'Upload'|trans }}</div>
                    <div class="card-body">
                        <p class="card-text text-center">{{ 'publishNewVersError'|trans }}</p>
                    </div>
                </div>
                {{ form_row(form.new_version) }}
        {% endif %}
        <div id="upload_type">{{ form_row(form.upload_type) }}</div>
        <div id="publication_type">{{ form_row(form.publication_type) }}</div>
        <h3>{{ 'Basic information'|trans }}</h3>
        {{ form_row(form.date) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description)|raw }}
        <div id="creator-fields-list"
             data-prototype="{{ form_widget(form.author.vars.prototype)|e }}"
             data-widget-tags="{{ '<div></div>'|e }}"
             data-widget-counter="{{ form.author|length }}"
             data-edited="true"
             data-text="{{ 'deleteAuthor'|trans }}">
            {% for creatorField in form.author %}
                <div class="row">
                    {{ form_row(creatorField) }}
                </div>
            {% endfor %}
        </div>
        <button type="button"
                class="add-another-collection-widget btn btn-outline-info w-100 mb-3 mt-3"
                data-list-selector="#creator-fields-list">{{ 'Add another author'|trans }}</button>

        {# change the label of the submit btn #}
        <div class="row">
            <div class="col-6">
                {{ form_widget(form.save, { 'label': 'Update Deposit' }) }}
            </div>
            <div class="col-6">
                {{ form_widget(form.save_publish, { 'label': 'Publish new deposit' }) }}
            </div>
        </div>

        <div id="id_deposit" data-id="{{ idDeposit }}" hidden></div>

        {{ form_end(form, {'render_rest': false}) }}
    </div>

{% endblock %}



